AGENT_PRIVATE_KEY=0xreplace_me
MANDATE402_TREASURY_ADDRESS=0xreplace_me
MANDATE402_TESTNET_RPC_URL=https://rpc-hoodi.morph.network
MANDATE402_TESTNET_CHAIN_ID=2910
MANDATE402_TEST_TOKEN=0xEcF966Cc754BC411E1F1106fbb4e343b835E85E4
MANDATE402_PAYMENT_AMOUNT=0.01
